body:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -250px;
  width: 60vw;
  background: #000;
  transform: skew(-30deg);
  z-index: -1
}

.nav-wrapper {
  color: black;
}

.navigation-bar {
  background-color: black;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.page-footer {
  background-color: black;
}