
.waves-effect{
  background-color: black;
}

.started{
  width: 40%;
  margin: 0 auto;
}

.card{
  background-color: #efefef;
  width: 441px;
  height: 300px;
  position: center;
  margin: 0 auto;
}

.rounded-container {
  padding: 25px !important;
  border-radius: 10px;
  background-color: #fdfdfd;
  box-shadow: 0px 0px 3px 4px #efefef;
  z-index: 5;
}

.nav-wrapper {
  color: black;
}

.navigation-bar {
  background-color: black;
  z-index: 2;
}
.brand-logo {
  font-weight: lighter;
  padding-left: 15px;
}

.brand-logo > span:last-child {
  font-size: smaller;
}

.brand-logo:hover {
  color: black;
}

.brand-logo {
  font-weight: lighter;
  padding-left: 15px;
  border-top-right-radius: 10px;
}

.brand-logo > span:first-child {
  font-weight: bolder;
  border: solid black 3px;
  padding-left: 7px;
  margin-right: 10px;
  border-radius: 6px;
}


nav .brand-logo > span:first-child {
  font-weight: bolder;
  border: solid white 2px;
  padding-left: 7px;
  margin-right: 10px;
  border-radius: 10px;
}

nav .brand-logo > span:last-child {
  font-size: smaller;
}

nav .brand-logo:hover {
  color: #d2d2d2;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-repeat:no-repeat;
  background-size: 1500px 800px;
}

.page-footer {
  background-color: black;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 75px;
  width: 100%;
  font-size:1.5em;
  text-align: center;
  line-height:50px;
}