.rounded-container {
    padding: 25px !important;
    border-radius: 10px;
    background-color: #fdfdfd;
    box-shadow: 0px 0px 3px 4px #efefef;
}

.nav-wrapper{
    color: black;
}

.navigation-bar{
    background-color: black;
}


