.dashboard-container {
  height: 100%
}
.dashboard-card-text-content {
  font-size: xx-large;
  font-weight: 500;
}

.card-image {
  max-height: 80% !important;
}

.card {
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.08), 0 1px 3px 1px rgba(60, 64, 67, 0.16);

  &.black {
    background-color: black;
  }

  .card-action {
    border-top: none;

    a {
      color: #fff !important;
    }
  }

  .card-text {
    width: calc(100% - 60px);
  }

  .card-icon i {
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255 , 0.25);
  }
}

.row {
  &.no-bottom-margin {
    margin-bottom: 0;
  }
}

.red {
  a {
    color: #CCC;
  }
}

.reporting {

  &:hover {
    background-color: white !important;
    color: black !important;
    cursor: pointer;

    .card-icon > i {
      color: black;
    }
  }
}

