.pagination {
  .waves-effect {
    > a {
      &:hover {
        color: white;
        background-color: black;
      }
    }
  }

  .active {
    background-color: black !important;

    > a {
      &:hover {
        color: white;
        background-color: black;
      }
    }
  }
}