body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  background-color: #d5d5d5;
  &.xyz-login, &.xyz-register {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: -250px;
      width: 60vw;
      background: #000;
      transform: skew(-30deg);
      z-index: 0;
    }
  }

  &.xyz-homepage {
    /* Car background */
    main {
      background-color: black;

      #homepage-container {
        > .card {
          margin-top: 6em;
          background-color: transparent;

          > .card-content {
            background-color: white;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }

          > .card-action {
            background-color: rgb(240, 240, 240);
          }
        }

        .brand-logo {
          font-weight: lighter;
          padding-left: 15px;
          text-align: center;

          > span:first-child {
            font-weight: bolder;
            border: solid black 3px;
            padding: 0px 7px 0px 7px;
            border-radius: 7px;
          }
        }
      }
    }
  }
}

.nav-wrapper {
  color: black;
}

.navigation-bar {
  background-color: black;
  z-index: 2;
}

nav .brand-logo {
  font-weight: lighter;
  padding-left: 15px;
  z-index: 10;

  &:hover {
    > span {
      &:first-child {
        color: black;
        background-color: white;
      }
    }
  }

  > span {
    &:first-child {
      font-weight: bolder;
      border: solid white 2px;
      padding: 0px 6px 0px 7px;
      border-radius: 10px;
    }

    &:last-child {
      font-size: smaller;
    }
  }

  &:hover {
    color: #d2d2d2;
  }
}

main {
  flex: 1 0 auto;

  &.container {
    background-color: white;
  }

  > .car-background {
    background-image: url("../assets/cars.jpg");
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0.15;
  }
}

.page-footer {
  background-color: black;
  z-index: 5;
  font-size: 12px;
}

.dropdown-content {
  min-width: 200px;
  > li {
    > a {
      color: black;
    }
  }
}

nav {
  > div {
    > ul {
      > li{
        > a {

          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}

.no-bottom-margin {
  margin-bottom: 0px;
}

.xyz-button {
  background-color: black;
  color: white;
}

.top-margin-30 {
  margin-top: 30px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.row {
  &.no-after::after {
    display: initial;
  }
}

.nice-container {
  margin-top: 3em;
  background-color: rgb(250, 250, 250);

  &.col {
    padding: 0 !important;
  }

  > .card-image {
    background-color: black;
    > img {
      width: 200px !important;
      background-image: url('../assets/padlock.png');
      background-repeat: repeat;
      opacity: 0.175;
      height: 100%;
    }
  }

  .card-content {
    > .card-title {
      font-weight: 700;
      padding-bottom: 0.5em;
      border-bottom: 1px solid #9e9e9e;
      margin-bottom: 1.5em;
    }
  }

  button[type="submit"],
  button[type="button"] {
    float: left;
    border-radius: 5px;
  }
}

/* Override Nice Container styling for logged in users */
body {
  &:not(.xyz-login):not(.xyz-register) {
    .nice-container {
      margin-top: 0 !important;
      box-shadow: none !important;
      -webkit-box-shadow: none !important;
      background-color: transparent !important;
    }
  }
}

.w100px {
  width: 100px;
}

.w200px {
  width: 200px;
}

.bold-text {
  font-weight: bold;
}

.c-pointer {
  cursor: pointer;
}

.f-right {
  float: right;
}

table {
  &.no-border-last {
    tr:last-child {
      border-bottom: none;
    }
  }
}