#cardholder-name {
  box-sizing: border-box;
  margin-bottom: 5px;
}

#card-number {
  line-height: 30px;
  border-bottom: 1px solid #9e9e9e;
}

#card-expiry {
  line-height: 30px;
}
#card-cvc {
  line-height: 30px;
}

#card-info {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

#payment-expiry {
  width: 45%;
  border-bottom: 1px solid #9e9e9e;
}

#payment-cvc {
  width: 45%;
  border-bottom: 1px solid #9e9e9e;
}

label {
    float: left;
}

/* Style the tab */
.tab {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border: 1px solid #ddd;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #26a69a;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #26a69a;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}